include COPYING
include README.md

graft shinysdr/webparts
graft shinysdr/webstatic
graft shinysdr/plugins

# Tight includes to avoid packaging cruft. Don't forget to update!
include shinysdr/deps/*.js
include shinysdr/deps/jasmine/lib/jasmine-core/jasmine*
