include COPYING
include README.md

graft shinysdr/data
graft shinysdr/plugins
graft shinysdr/webparts
graft shinysdr/webstatic

# Tight includes to avoid packaging cruft. Don't forget to update!
include shinysdr/deps/*.js
include shinysdr/deps/jasmine/lib/jasmine-core/jasmine*
