html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.hscalegroup {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
}
.hscale {
  width: 100%;
  height: 100%;
}