/* setup */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* UI layout incl widgets */
.controlpanel {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.controlpanel > .hscalegroup { /* TODO wrongish selector */
  -webkit-flex: 1 2;
  width: auto;
}
.controlpanel > .sidebar {
  width: 17em;
  /*padding: 0.5em;*/
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex: 0 1 auto;
}
.panel {
  border: .1em outset;
  padding: .2em;
  -webkit-flex-shrink: 0; /* default value to be overridden */
}

/* main visualizations */
.hscalegroup {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  overflow: hidden; /* for the benefit of positioned labels */
}
.hscale {
  width: 100%;
  -webkit-flex: 100 100;
  height: 50%;
}

/* coloring */
body {
  background-color: #BBB;
}
.sidebar {
  /*box-shadow: inset 1em 0 .5em -1em white;*/
}
#spectrum {
  background-color: #333;
  color: #00FFAA;
}
#waterfall {
  background-color: #777;
  color: #00FFAA;
}

/* widgets: radio button group */
.widget-Radio {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.widget-Radio label {
  display: inline-block;
  -webkit-flex: 1 1 auto;
  text-align: center;
  white-space: nowrap;
}

/* widgets: knob */
.knob {
  background: black;
  color: white;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2.8em;
}
.knob-digit {
}
.knob-mark {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
}

/* widgets: frequency scale */
.freqscale {
  font-family: 'Arial', sans-serif;
  font-size: .75em;

  -webkit-flex-shrink: 0;
  height: 1em;
  position: relative;
}
.freqscale-numbers, .freqscale-stations {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.freqscale-numbers {
  overflow: hidden;
}
.freqscale-labels {
  left: 0;
  top: 0;
}
.freqscale-number {
  border-left: 1px solid; /* hairline marking actual freq */
  position: absolute;
}
.freqscale-channel, .freqscale-band {
  border-radius: .3em;

  background: #555;
  color: white;
  opacity: 0.7;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.freqscale-channel {
  position: absolute;
  -webkit-transform-origin: center left;
  -webkit-transform: rotate(-90deg) translate(1.9em, 0);
}
.freqscale-band {
  position: absolute;
  bottom: 1.15em;
  
  text-align: center;
}

/* widgets: frequency database list */
.widget-FreqList {
  -webkit-flex: 2 2;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.widget-FreqList select {
  -webkit-flex: 1 1;
}
.widget-FreqList input {
  /*-webkit-flex: 0 0;*/
}
.widget-FreqList select, .widget-FreqList input {
  width: 100%;
  margin: .1em 0;
  box-sizing: border-box;
}