/* Copyright 2013, 2014, 2015, 2016 Kevin Reid <kpreid@switchb.org>
 * 
 * This file is part of ShinySDR.
 * 
 * ShinySDR is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ShinySDR is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ShinySDR.  If not, see <http://www.gnu.org/licenses/>.
 */

.subwindowed {
  /* This background color shows up only where there is no subwindow to fill the space. */
  background: #333;
  background-image: linear-gradient(45deg, #2F2F2F 26%, #333 26%, #333 51%, #2F2F2F 51%, #2F2F2F 76%, #333 76%);
  background-size: 1em 1em;
  color: white;
}

shinysdr-subwindow {
  background: linear-gradient(to right, #BCBCBC 0%,#B5B5B5 100%);
  color: black;
}
shinysdr-subwindow > h2 {
  border: #EEE outset;
  border-width: 0 1px;
  background: linear-gradient(to bottom, #FFF 0%,#CCC 100%);
}
.subwindow-menu-button {
  border: 0 #EEE groove;
  border-width: 0 2px 0 0;
}

.system-menu-list .subwindow-show-button-shown {
  background: rgba(255, 255, 255, 0.2);
}
.system-menu-list .subwindow-show-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.menu-dialog {
  box-shadow: 0 0.1em 1em 0.1em rgba(0, 0, 0, 0.25);
}

.panel {
  border-bottom: 0.1em solid #CCC;
}
.frame-controls, details.frame summary {
  padding-left: 0.2em;
  border-color: #DDD;
  background: #DDD;
  background: linear-gradient(to bottom, #FFF 0,#DDD 0.15em);
  color: black;
}
.panel.frame {
  border-color: #DDD;
}
.frame-delete-button {
  background: black;
  color: white;
}
.frame > details[open] > summary {
  color: #777;
}
.frame > details > summary:hover {
  background: #EEE;
  color: black;
  cursor: pointer;
}

.hscalegroup {
  /* TODO: We actually want this to be the WaterfallPlot's graph background color, but no good way to express that currently */
  background: black;
  color: white;
}
.widget-WaterfallPlot {
  /* these properties (normally SVG-only) are read by the widget's code */
  fill: rgba(64, 100, 100, 0.75);
  stroke: #00FFAA;
}

.widget-Knob-outer {
  background: black;
  color: white;
  border: .03em inset #999;
}
.widget-Knob-outer .knob-digit:focus {
  background: #555;
  color: white;
}

.widget-FreqScale {
  background: none;
  color: #FFF;
}
.freqscale-band {
  opacity: 0.7;
}
.freqscale-channel {
  opacity: 0.7;
  color: #FFF;
}
.freqscale-band {
  background: #555;
  background: linear-gradient(to right, #666 0%,#444 100%);
  color: white;
}

.widget-FreqList .freqlist-box {
  /* style like a system list box -- TODO look into better techniques */
  background: white;
  color: black;
}
.widget-FreqList .freqlist-item-unsupported {
  /* should go with .freqlist-box background colors */
  color: gray;
}
.freqlist-item-band-start {
  background: linear-gradient(to bottom, #DDD 0%, white .6em);
}
.freqlist-item-band-end {
  background: linear-gradient(to top, #CCC 0%, white .6em);
}
.freqlist-item-band-start .freqlist-cell-label,
.freqlist-item-band-end .freqlist-cell-label {
  font-style: italic;
}
.widget-FreqList tr:hover {
  background: #DDD;
}

.widget-Radio input {
  opacity: 0;  /* hide without disabling focusability */
  width: 0.0em;
  margin: 0;
  border: none;
  padding: 0;
}
/* turn label text into beveled buttons */
.widget-Radio input + * {
  border-radius: 0.38em;
  box-shadow: 0 0.1em 0.1em 0.0em #666,
      inset 0 0.1em 0.1em 0.0em #FFF;
  margin: 0.05em 0.05em 0.1em;
  background: #E4E4E4;
  color: black;
  
  text-align: center;
  
  /*font-stretch: condensed;*/  /* Not currently supported by Chrome, so do the following instead */
  font-size: 0.85em;
  letter-spacing: -0.04em;
}
.widget-Radio input:checked + * {
  background: black;
  color: white;
  box-shadow: 0 0.1em 0.1em 0.0em #EEE,
      inset 0 0.08em 0.1em 0.0em #666;
}
.widget-Radio input:focus + * {
  /* this is a Windows-style focus ring, but there doesn't seem to be a standard way to ask for a native one */
  outline: 0.1em dotted black;
}
