/* Copyright 2013 Kevin Reid <kpreid@switchb.org>
 * 
 * This file is part of ShinySDR.
 * 
 * ShinySDR is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ShinySDR is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ShinySDR.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
  background: #BBB;
  color: black;
}

section > h2 {
  border: #EEE outset;
  border-width: 0 1px;
  background: linear-gradient(to bottom, #FFF 0%,#CCC 100%);
}

.panel, .frame > details > summary {
  border-color: #DDD;
  background: #BBB;
  color: black;
}
.frame > details > summary, .frame-controls {
  border-color: #DDD;
  background: #DDD;
  color: black;
}
.panel.frame {
  border-color: #DDD;
  background: linear-gradient(to right, #555 0,#BBB 1em);
}
.frame-delete-button {
  background: black;
  color: white;
}

.hscalegroup {
  /* TODO: We actually want this to be the SpectrumPlot's background color, but no good way to express that currently */
  background: #333;
}
[data-widget=SpectrumPlot] { /* TODO: should be .widget-SpectrumPlot but doesn't work because read too early */
  /* these properties (normally SVG-only) are read by the widget's code */
  fill: rgba(64, 100, 100, 0.75);
  stroke: #00FFAA;
}

.widget-Knob-outer {
  background: black;
  color: white;
}
.widget-Knob-outer .knob-digit:focus {
  background: #555;
  color: white;
}

.widget-FreqScale {
  background: #BBB;
}
.freqscale-channel, .freqscale-band {
  opacity: 0.7;
}
.freqscale-channel {
  color: #CCC;
}
.freqscale-band {
  background: #555;
  background: linear-gradient(to right, #666 0%,#444 100%);
  color: white;
}

.widget-FreqList .freqlist-box {
  /* style like a system list box -- TODO look into better techniques */
  background: white;
  color: black;
}
.widget-FreqList .freqlist-item-unsupported {
  /* should go with .freqlist-box background colors */
  background: white;
  color: gray;
}
.widget-FreqList tr:hover {
  background: #EEE;
}
