/* Copyright 2013, 2014, 2015, 2016 Kevin Reid <kpreid@switchb.org>
 * 
 * This file is part of ShinySDR.
 * 
 * ShinySDR is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ShinySDR is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ShinySDR.  If not, see <http://www.gnu.org/licenses/>.
 */

@import url(/client/ui.css);
@import url(/client/themes/gray.css);

html {
  margin: 0;
}

body { 
  margin: 0 auto;
  padding: 0 1em;
  max-width: 60em;
}

.major-dl > dt {
  margin: 0.7em 0 0 0;
  border: 1px solid;
  border-bottom-color: transparent;
  padding: 0 0.5em 0 1em;
}
.major-dl > dd {
  margin: 0 0 0.7em 0;
  border: 1px solid;
  border-top-color: transparent;
  padding: 0 0 0 2em;
}

.directory-listing li {
  list-style-type: none;
}
