/* setup */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* UI layout */
.controlpanel {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.controlpanel > .sidebar {
  width: 20em;
  padding: 1em;
}

/* main visualizations */
.hscalegroup {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden; /* for the benefit of positioned labels */
}
.hscale {
  width: 100%;
  height: 100%;
}

/* coloring */
body {
  background-color: #BBB;
}
.sidebar {
  box-shadow: inset 1em 0 .5em -1em white;
}
#spectrum {
  background-color: #333;
  color: #00FFAA;
}
#waterfall {
  background-color: #777;
  color: #00FFAA;
}

/* widgets: knob */
.knob {
  background: black;
  color: white;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2.8em;
}
.knob-digit {
}
.knob-mark {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
}

/* widgets: frequency scale */
.freqscale {
  -webkit-flex-shrink: 0;
  height: 1em;
  position: relative;
}
.freqscale-numbers, .freqscale-stations {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.freqscale-numbers {
  overflow: hidden;
}
.freqscale-stations {
  left: 0;
  top: 0;
}
.freqscale-number {
  position: absolute;
}
.freqscale-station {
  position: absolute;
  -webkit-transform-origin: center left;
  -webkit-transform: rotate(-90deg) translate(.9em, 0);
  white-space: nowrap;

  border: .1em solid #777;
  background: #555;
  border-radius: .3em;
  color: white;
  opacity: 0.5;
}

/* widgets: frequency database list */
.freq-list {
  width: 100%;
  box-sizing: border-box;
}