/* Copyright 2016 Kevin Reid <kpreid@switchb.org>
 * 
 * This file is part of ShinySDR.
 * 
 * ShinySDR is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ShinySDR is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ShinySDR.  If not, see <http://www.gnu.org/licenses/>.
 */

:root {
  --shinysdr-theme-foreground: #FFF;
  --shinysdr-theme-halo-bgcolor: black;
  
  --shinysdr-theme-column-bgcolor: #222;
  --shinysdr-theme-column-bgfill: #222;
  
  --shinysdr-theme-window-title-foreground: white;
  --shinysdr-theme-window-title-bgcolor: #382828;
  --shinysdr-theme-window-title-bgfill: linear-gradient(to bottom, #433 0%, #322 100%);
  
  --shinysdr-theme-header-bgfill: #382828;
  --shinysdr-theme-header-bgcolor: #382828;
  
  --shinysdr-theme-spectrum-bgcolor: black;
  --shinysdr-theme-spectrum-label-bgcolor: #337; /* tmp */
  --shinysdr-theme-spectrum-label-bgfill: #337;
  --shinysdr-theme-spectrum-label-foreground: white;
  
  --shinysdr-theme-knob-bgcolor: black;
  --shinysdr-theme-knob-foreground: white;
  
  --shinysdr-theme-databox-bgcolor: black;
  --shinysdr-theme-databox-foreground: white;
  --shinysdr-theme-databox-disabled-foreground: gray;
  --shinysdr-theme-databox-hover-bgcolor: #222;
  --shinysdr-theme-databox-band-start-bgfill: linear-gradient(to bottom,
    #444 0%,
    var(--shinysdr-theme-databox-bgcolor) .6em);
  --shinysdr-theme-databox-band-end-bgfill: linear-gradient(to top,
    #222 0%,
    var(--shinysdr-theme-databox-bgcolor) .6em);
}

:link {
  color: #99F;
}
:visited {
  color: #F9F;
}

/* TODO: add disabled/readonly styles which we might be stepping on */
button, select, meter {
  border-color: #666;
  background-color: var(--shinysdr-theme-column-bgcolor);
  color: var(--shinysdr-theme-databox-foreground);
}
input, textarea {
  border-color: #666;
  background-color: var(--shinysdr-theme-databox-bgcolor);
  color: var(--shinysdr-theme-databox-foreground);
}
